$dark_blue: #006;
$gray: #94938d;
$lightest_gray:#E2DFDF;
$lightest_gray:#E2DFDF;
$light_gray: #aeaaab;
$darkest_gray: #635F5F;
$dark_gray: #787373;
$darkest_blue: #12133c;
$green_text: #40a842;
$dark_blue: #06173b;
$blue: #005e92;
$light_blue:#008dc0;
$dark_green: #10432c;
$green: #40a842;
$light_green: #b3d449;
$dark_violet: #350a80; // 94 100 12 9
$violet: #6330e2; //74 79 0 0
$light_violet: #8543fd; // 66 74 0 0
// 2020 colors
$hot_yellow: #e4a203;
$bright-yellow:#fbe201;
$power-purple:#534290;
$deep-purple:#1d1649;
$light-purple: #b97cff;
$haven-red:#971e25;