footer {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgba(200, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    margin-bottom: 0.5em;
    #fork-this {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 15vh;
        width: 15vh;
        opacity: 0.5;
        cursor: pointer;
        #fork-this-svg {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            opacity: 0.9;
        }
        @media (max-width: 1024px) {
            height: 8vh;
            width: 8vh;
        }
        @media (max-width: 539px) {
            display: none;
        }
    }
}

footer.horizontal.maxed {
    width: 50%;
    left: 50%;
    position: absolute;
    height: 50px;
}